




*{
	margin:0;
	padding:0;
}

body{
	width:100%;
	max-width:2000px;
	height:100%;
	font-family:'fontBold', sans-serif;
	overflow:hidden;
	background: url(bg1.jpg);
	background-attachment:fixed;
	
}

	
	




