.pending{
	color:#03F;
	font-weight:bold;
	text-align:center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif
}
.confirmed{
	color:#0C0;
	font-weight:bold;
	text-align:center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif
}
.reject{
	color:#FC0;
	font-weight:bold;
	text-align:center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif	
}

.cancel{
	color:#F00
	font-weight:bold;
	text-align:center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif	
}

.selectedcolor{
	position:relative;
	z-index:10;}
	
	.selectedcolor:hover{
	background:#CC3333!important;
	position:relative;
	z-index:10;opacity:0.5;cursor:pointer
	
}

.main_header_table tbody td{
			/*padding:20px 20px 5px 20px;*/
			font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
			color:#0281c3;
			font-size:14px;
			text-align:left;
			font-weight:bold;
			cursor: pointer;
}

.main_table thead td{
			/*background-color:#03c0f7;*/
			/*padding:20px 20px 5px 20px;*/
			font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
			color:#0281c3;
			font-size:13px;
			border-bottom:1px solid #cccccc;
			text-align:left;
			cursor: pointer;
}
.main_table tbody td{
	padding:5px 2px 5px 2px;
	border-collapse:collapse;
	border-spacing:0;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
}

/*BEGIN - MAIN INTERFACE GRID DESIGN {*/
 table .bordered{
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}
.bordered {
	border: solid #ccc 1px;
	border-radius: 6px;
	box-shadow: 0 1px 1px #ccc;
	font-size:11px;
	font-family: Verdana;
}

.bordered tr:hover {
    background: #fbf8e9;
/*    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;*/
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 2px;
}

.bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 4px;
    text-align: center;    
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
/*    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset; */ 
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
/*    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;*/
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
/*    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;*/
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
/*    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;*/
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
/*    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;*/
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
/*    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;*/
    border-radius: 0 0 6px 0;
}
/*END - MAIN INTERFACE GRID DESIGN }*/

/*BEGIN - REPORT INTERFACE GRID DESIGN {*/
table .rptBordered{
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}
.rptBordered {
	border: solid #ccc 1px;
	border-radius: 6px;
	box-shadow: 0 1px 1px #ccc;
	font-size:11px;
	font-family: Verdana;
}

.rptBordered tr:hover {
    background: #fbf8e9;
    transition: all 0.1s ease-in-out;     
} 
    
.rptBordered td{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 2px;
}

.rptBordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 4px;
    text-align: center;    
}

.rptBordered th {
    background-color: #CCCCCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#CCCCCC));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #CCCCCC);
    background-image: -moz-linear-gradient(top, #ebf3fc, #CCCCCC);
    background-image: -ms-linear-gradient(top, #ebf3fc, #CCCCCC);
    background-image: -o-linear-gradient(top, #ebf3fc, #CCCCCC);
    background-image: linear-gradient(top, #ebf3fc, #CCCCCC);
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.rptBordered td:first-child, .rptBordered th:first-child {
    border-left: none;
}

.rptBordered th:first-child {
    border-radius: 6px 0 0 0;
}

.rptBordered th:last-child {
    border-radius: 0 6px 0 0;
}

.rptBordered th:only-child{
    border-radius: 6px 6px 0 0;
}

.rptBordered tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}

.rptBordered tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}
/*END - REPORT INTERFACE GRID DESIGN }*/

/*----------------------*/

/*BEGIN - COMMON STYLE FOR BUTTON { */
.xbutton {
	background-color: rgba(153,204,102,1);
	
	/* background-image: -webkit-linear-gradient(top, rgba(54,168,234,1) 0%,rgba(18,127,210,1) 100%);
	background-image:    -moz-linear-gradient(top, rgba(54,168,234,1) 0%,rgba(18,127,210,1) 100%);
	background-image:     -ms-linear-gradient(top, rgba(54,168,234,1) 0%,rgba(18,127,210,1) 100%);
	background-image:      -o-linear-gradient(top, rgba(54,168,234,1) 0%,rgba(18,127,210,1) 100%);*/
	background-image:         linear-gradient(top, rgba(54,168,234,1) 0%,rgba(18,127,210,1) 100%);
	text-decoration: none;
	/*   -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.4)inset, 1px 0px 0px 0px rgba(255,255,255,0.4)inset, -1px 0px 0px 0px rgba(255,255,255,0.4)inset;
	-moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.4)inset, 1px 0px 0px 0px rgba(255,255,255,0.4)inset, -1px 0px 0px 0px rgba(255,255,255,0.4)inset;*/
	box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.4)inset, 1px 0px 0px 0px rgba(255,255,255,0.4)inset, -1px 0px 0px 0px rgba(255,255,255,0.4)inset;
	border: solid 1px rgba(3,94,163,1);
	/*   -webkit-border-radius: 6px;
	-moz-border-radius: 6px;*/
	border-radius: 6px;
	/*width: auto;*/
	display: inline-block;
	font-size: 14px;
	line-height: 35px;
	text-align: center;
	color: rgba(255,255,255,1);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.33);
	font-family:Verdana, Geneva, sans-serif;
	width:160px;
}
.xbutton:hover {
	/*   background-image: -webkit-linear-gradient(top, rgba(47,144,213,1) 0%,rgba(3,81,183,1) 100%);
	background-image:    -moz-linear-gradient(top, rgba(47,144,213,1) 0%,rgba(3,81,183,1) 100%);
	background-image:     -ms-linear-gradient(top, rgba(47,144,213,1) 0%,rgba(3,81,183,1) 100%);
	background-image:      -o-linear-gradient(top, rgba(47,144,213,1) 0%,rgba(3,81,183,1) 100%);*/
	background-image:         linear-gradient(top, rgba(47,144,213,1) 0%,rgba(3,81,183,1) 100%);
	/*   -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.4)inset, 0px -1px 0px 0px rgba(255,255,255,0.2)inset;
	-moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.4)inset, 0px -1px 0px 0px rgba(255,255,255,0.2)inset;*/
	box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.4)inset, 0px -1px 0px 0px rgba(255,255,255,0.2)inset;
	border: solid 1px rgba(0,52,129,1);
}

.xbutton:active {
	background-image: none;
	/*   -webkit-box-shadow: 0px 0px 8px 2px rgba(0,61,127,0.4)inset, 0px 0px 2px 2px rgba(0,60,125,0.2)inset;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0,61,127,0.4)inset, 0px 0px 2px 2px rgba(0,60,125,0.2)inset;*/
	box-shadow: 0px 0px 8px 2px rgba(0,61,127,0.4)inset, 0px 0px 2px 2px rgba(0,60,125,0.2)inset;
	border: solid 1px rgba(0,70,131,1);
}
/*END - COMMON STYLE FOR BUTTON } */
/* *************************************************  common style start here *************************************************/
.textarea {
    border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
    background-color: #FFF;
    resize: none;
	color:#000;
}
.reportSubHeader {
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	background-color: #DCF0FC;
	border: thin solid #B9D5FF;
	font-family: "Times New Roman", Times, serif;
}
.reportHeader {
	font-size: 18px;
	/*text-align:center,*/
	font-style: normal;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}

.reportHeader_16 {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-family:Verdana, Geneva, sans-serif;
}

.pageBreak{
    page-break-after: always;
}
#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popupContact{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:400px;
width:700px;
left:-0px;
top:-0px;
background:#FFFFFF;
background-color:transparent;
z-index:2;
font-size:13px;
}
#popupContact h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}
	#popupContactClose{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
}


.compulsoryRed{
	color:#F00;
}

.trans_text {
	position:relative;
	top : -35px; left:-1px; width:100%; height:10px;
	text-align:center;
	font-size: 13px;
	font-family: Verdana;
	padding-top:4px;
	width:100%;
	color:#FFF;
	text-align:center;
	font-weight:bold;
}

input:not([readonly]):not([type=image]):focus:not([class=noclass]), select:focus, textarea:focus {
	background-color:#EDFBD0;
	font-family: Verdana;
	font-size: 11px;
	color: #20407B;
	text-align:left;
	border-top: 1px solid #B4B4B4;
	border-left: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
	
/*	-moz-border-radius-bottomright:3px;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-topleft:3px;*/
	border-radius: 3px 3px 3px 3px;
}
input:not([readonly]):not([type=image]):not([class=noclass]), select, textarea {
	
	font-family: Verdana;
	font-size: 11px;
	color: #20407B;
	text-align:left;
	border-top: 1px solid #B4B4B4;
	border-left: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
	
/*	-moz-border-radius-bottomright:3px;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-topleft:3px;*/
	border-radius: 3px 3px 3px 3px;
}

input[type=checkbox] {

	margin:0px;
}
input[type=radio] {
	margin:0px;
}
textarea{
	resize:none;
}

.thetable th{
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight:bold;
	text-align:center;
	background-color:#fff3cf;
	color:#c4a641;
	border: 1px solid #CCCCCC;
}

.thetable tr{
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:center;
	background-color:#ffffff;
	color:#000000;
	border: 1px solid #cccccc;
}

.odd{background-color:#F5F5F5;}
.even{background-color:#FFFFFF;}
.mouseover {
	cursor: pointer;
}

.grid{
	background-color:#999;
	border-spacing:1px;
}

.gridHeader{
	padding: 1px 0px 4px 8px;
	width:auto;
	border:0;
	background-color: #FAD163;
		
	text-align:center;
	font-size: 11px;
	font-family: Verdana;
	text-align:center;
	color: #751609;
}
.txtNumber{
	font-family: Verdana;
	font-size: 11px;
	color: #20407B;
	text-align:right;
	border-top: 1px solid #B4B4B4;
	border-left: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
}
.txtText{
	font-family: Verdana;
	font-size: 11px;
	color: #20407B;
	text-align:left;
	border-top: 1px solid #B4B4B4;
	border-left: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
}

.normalfnt {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}

.normalfntsm {
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}

.normalfntBlue {
	font-family: Verdana;
	font-size: 11px;
	color: #0B3960;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}

.normalfntGrey {
	font-family: Verdana;
	font-size: 11px;
	color: #999;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.normalfntMid {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:center;
}
.normalfntRight {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:right;
}

.trans_layoutD{
	width:600px; height:auto;
	border:1px solid;
	border-bottom-color:#34b3d4;
	border-top-color:#34b3d4;
	border-left-color:#34b3d4;
	border-right-color:#34b3d4;
	background-color:#FFFFFF;
	padding-right:15px;
	padding-top:10px;
	padding-left:30px;
	padding-right:30px;
	margin-top:20px;
	
/*	border-radius-bottomright:5px;
	border-radius-bottomleft:5px;
	border-radius-topright:10px;
	border-radius-topleft:10px;*/
	border-radius:10px 10px 5px 5px;
	
	border-bottom:13px solid #34b3d4;
	border-top:30px solid #34b3d4;/*b9cf3c*/
}

.trans_layoutS{
	width: 500px;
	height: auto;
	border: 1px solid;
	border-bottom-color: #34b3d4;
	border-top-color: #34b3d4;
	border-left-color: #34b3d4;
	border-right-color: #34b3d4;
	background-color: #FFFFFF;
	padding-right: 15px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 20px;
	/*	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;*/
	
/*	border-top-left-radius:     4px 2px;  
	border-top-right-radius:    3px 4px;  
	border-bottom-right-radius: 5px 2px;  
	border-bottom-left-radius:  3px 4px;  */
	border-radius:10px 10px 5px 5px;
	border-bottom:13px solid #34b3d4;
	border-top: 30px solid #34b3d4;
}


.trans_layoutL{
	width:900px; height:auto;
	border:1px solid;
	border-bottom-color:#34b3d4;
	border-top-color:#34b3d4;
	border-left-color:#34b3d4;
	border-right-color:#34b3d4;
	background-color:#FFFFFF;
	padding-right:15px;
	padding-top:10px;
	padding-left:30px;
	padding-right:30px;
	margin-top:20px;
	
	border-radius:10px 10px 5px 5px;
	
	border-bottom:13px solid #34b3d4;
	border-top:30px solid #34b3d4;
}

.trans_layoutXL{
	width:auto; height:auto;
	border:1px solid;
	border-bottom-color:#34b3d4;
	border-top-color:#34b3d4;
	border-left-color:#34b3d4;
	border-right-color:#34b3d4;
	background-color:#FFFFFF;
	padding-right:15px;
	padding-top:10px;
	padding-left:30px;
	padding-right:30px;
	margin-top:20px;
/*	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;*/
	
	border-radius:10px 10px 5px 5px;
	
	border-bottom:13px solid #34b3d4;
	border-top:30px solid #34b3d4;
}

.tableBorder_allRound{
	
	border: 1px solid #CCCCCC;
/*	-moz-border-radius-bottomright:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;*/
	
	border-radius:10px 10px 10px 10px;
}
.tableBorder_noneRound{
	
	border: 1px solid #CCCCCC;
/*	-moz-border-radius-bottomright:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;*/
	
	border-radius:0px 0px 0px 0px;
}
.tableBorder{
	border: 1px solid #CCCCCC;
/*	-moz-border-radius-bottomright:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;*/
	
	border-radius:10px 10px 10px 10px;
}
.tableBorder_topRound{
	border: 1px solid #CCCCCC;
/*	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;*/
	border-radius:10px 10px 0px 0px;
}
.tableBorder_bottomRound{
	border: 1px solid #CCCCCC;
/*	-moz-border-radius-bottomright:10px;
	-moz-border-radius-bottomleft:10px;*/
	border-radius:0px 0px 10px 10px;
}
.txtNumber{
	
	font-family: Verdana;
	font-size: 11px;
	color: #20407B;
	text-align:left;
	border-top: 1px solid #B4B4B4;
	border-left: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
	
/*	-moz-border-radius-bottomright:3px;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-topleft:3px;*/
	
	border-radius:3px 3px 3px 3px;
}
.txtText{
	background-color:#EDFBD0;
	font-family: Verdana;
	font-size: 11px;
	color: #20407B;
	text-align:left;
	border-top: 1px solid #B4B4B4;
	border-left: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
	
/*	-moz-border-radius-bottomright:3px;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-topleft:3px;*/
	
	border-radius:3px 3px 3px 3px;
}
/* ****************************  common style end here *************************************************/

/*promt css*/
div.wrapper{
	position: relative;
	margin: 0  auto 30px auto;
	width: 850px;
	text-align: left;
}
ul.nav{
	float: right;
	list-style: none;
}
ul.nav li{
	display: inline;
	margin: 0 10px;
}
ul.nav li a{
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
}
div.block{
	float: left;
	width: 425px;
	margin: 30px 0 0 0;
}
div.about{
	width: 395px;	
	padding: 0 30px 20px 0;
}
div.exlink{
	padding: 15px;
	background-color: #e0eEc6;
	margin: 0 0 30px 0;
	text-align: right;
}
div.exlink button{ 
	padding: 5px;
}
div.example{	
	position: relative;
}
div.donation input{ 
    border: none; 
}
div.clear{ clear: both; }

.maskShow{
	display:inline;
}
.maskHide{
	display:none;
}
.mask{
	z-index:999; 
	position:absolute; 
	top:110px; 
	width:98%; 
	height:115%; 
	background-color:#F5F5F5; 
	opacity:0.8;
	text-align:center;
	vertical-align:middle;
	padding-top:100px;
	font-size:18px;
	color:#F00;
}
.mask_black{
	z-index:999; 
	position:absolute; 
	top:110px; 
	width:99%; 
	height:115%; 
	background-color:#000000; 
	opacity:0.8;
	text-align:center;
	vertical-align:middle;
	padding-top:100px;
	font-size:18px;
	font-family: Verdana;
	color:#FFFFFF;
}
.rounded{
	border-radius: 3px 3px 3px 3px;
}

.selectedcolor{
	position:relative;
	z-index:10;}
	
	.selectedcolor:hover{
	background:#CC3333!important;
	position:relative;
	z-index:10;opacity:0.5;cursor:pointer}
	
.hyperlink{
	color:#03F;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-style:normal;
	text-decoration:underline;
	cursor: pointer;
}

/*BEGIN - REPORT CSS {*/
#rpt_body{
	background:#FFFFFF;
}

#rpt_div_main{
	position:absolute;
	background-color:#FFF;
	left:12%;
	top:3%;
	z-index:1;
	box-shadow: 0 10 1px black inset;
	border:#CCC solid 1px;
}

#rpt_div_table{
	position:relative;	
	z-index:10;
}
div .cls_div_bgstyle{
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 2px #666;
	background-color:#DEDEDE;
}
/*END   - REPORT CSS }*/