.table{
	padding-bottom:7px;
	padding-top:7px;
}

.normalfnt {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.normalfntGap{
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	padding-top:4px;
}

.normalfnthead{
	font-family: Verdana;
	font-size: 13px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align:center;
}

.normalfnthead2{
	font-family: Verdana;
	font-size: 13px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align:left;
}

.normalgridheader {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align:left;
	background-color:#e6e8e7;	
}


.normalfntb {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align:left;
}

.normalfntbI {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align:left;
	text-decoration:underline;
}

.normalfntreport {
	font-family: Verdana;
	font-size: 13px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align:left;
}

.normalfntreport2 {
	font-family: Verdana;
	font-size: 15px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align:center;
	padding-top:10px;
	border-top:2px solid #cccccc;
}

.normalfnt_size20 {
	font-family: Verdana;
	font-size: 21px;
	color: #000000;
	font-weight: normal;
	text-align:left;
}
.txtbox {
	font-family: Verdana;
	font-size: 11px;
	color: #20407B;
	text-align:left;
	border-top: 1px solid #B4B4B4;
	border-left: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
}
.cboCountry {
	font-family: Verdana;
	font-size: 11px;
	color: #20407B;
	text-align:left;
	border-top: 1px solid #B4B4B4;
	border-left: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
}

.txtbox_orange {
	font-family: Verdana;
	font-size: 11px;
	color: #20407B;
	border: 1px solid #fb6806;
	text-align:left;
}
.txtboxgray {
	font-family: Verdana;
	font-size: 11px;
	color: #20407B;
	border: 1px solid #999999;
	text-align:left;
}
.txtboxbackcolor {
	font-family: Verdana;
	font-size: 11px;
	color: #20407B;
	border: 1px solid #999999;
	text-align:left;
	background-color: #CCCCCC;
}
.normalfnth2 {
	font-family: Verdana;
	font-size: 11px;
	color: #1164A8;
	font-weight: bold;
}
.normaltxtmidb2 {
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	margin: 0px;
	font-weight: bold;
	text-align: center;
}
.bcgl1 {
	/*border: 1px solid #C9DFF1;*/
	//border: 1px solid #FAD163;
}

.head1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0E4874;
	margin: 0px;
}
.tophead {
	font-family: "Century Gothic";
	font-size: 24px;
	font-weight: normal;
	color: #244893;
	margin: 0px;
}
.normalfntRite {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	text-align: right;
}
.normalfntMid {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	text-align: center;
}
.bodertopb {
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-bottom-width: 1pt;
	border-left-width: 1pt;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9BBFDD;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
.bcgl1Txt {
	border: 1px solid #C9DFF1;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}
.bcgl1Txt2 {
	border: 1px solid #C9DFF1;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #D6E7F5;
	text-align: center;
}
.bcgl1wf {
	border: 1px solid #C9DFF1;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}
.normalfnt2 {
	font-family: Arial;
	font-size: 10pt;
	color: #1E5E9D;
	margin: 0px;
}
.normalfnt2bld {
	font-family: Arial;
	font-size: 10pt;
	color: #164574;
	margin: 0px;
	font-weight: bold;
}
.error1 {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FF0000;
}
.txtgreen {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #00CC00;
}
.errorbig {
	font-family: Verdana;
	font-size: 12px;
	#font-weight: bold;
	color: #FF0000;
	background-color: #FFFFFF;
	border: 1px solid #abceea;
}

.redText {
	font-family: Verdana;
	font-size: 12px;
	#font-weight: bold;
	color: #FF0000;
}

.bcgl1txt1 {
	border: 1px solid #666666;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-align: center;
}
.bcgl1txt1B {
	border: 1px solid #666666;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}
.bcgl1txtLB {
	border: 1px solid #666666;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-align: left;
}
.bcgl1txt1NB {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-align: left;
}
.head2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: #052B45;
	margin: 0px;
	text-align: center;
}
.normalfnt2BI {
	font-family: Tahoma;
	font-size: 10px;
	color: #164574;
	margin: 0px;
	font-weight: bold;
	font-style: normal;
}
.specialFnt1 {
	font-family: Verdana;
	font-size: 10px;
	color: #999999;
	margin: 0px;
	text-align: right;
}
.specialFnt2 {
	font-family: Verdana;
	font-size: 10px;
	color: #999999;
	margin: 0px;
	text-align: center;
}
.specialFnt3 {
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	margin: 0px;
	text-align: center;
}
.nfhighlite1 {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: double;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #666666;
	border-bottom-color: #000000;
	border-left-color: #666666;
	text-align: right;
}
.nfhighlite2 {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: double;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #999999;
	border-bottom-color: #000000;
	border-left-color: #999999;
	text-align: center;
}
.normalfnBLD1 {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}
.tablez {
	border: 1px solid #666666;
}
.normalfntTAB {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	border: 1px solid #999999;
	vertical-align: top;
}
.normalfntMidTAB {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	text-align: center;
	border: 1px solid #999999;
	vertical-align: top;
}
.normalfntRiteTAB {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	text-align: right;
	border: 1px solid #999999;
	vertical-align: top;
}
.normalfntRiteTABNoBorder {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	text-align: right;
	vertical-align: middle;
}
.normalfntLeftTABNoBorder {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	text-align: left;
	vertical-align: middle;
}
.normalfntCenterTABNoBorder {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	text-align: center;
	vertical-align: middle;
}
.normalfnt2BITAB {
	font-family: Tahoma;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	font-style: normal;
	border: 1px solid #999999;
	background-color: #BED6E9;
}
.normalfnBLD1TAB {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	border: 1px solid #999999;
}
.normalfntBtab {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	background-color: #CCCCCC;
	border: 1px solid #666666;
	text-align: center;
}
.bigfntnm1 {
	font-family: Arial;
	font-size: 14px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
}
.bigfntnm1mid {
	font-family: Arial;
	font-size: 14px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align: center;
}
.bigfntnm1rite {
	font-family: Arial;
	font-size: 14px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align: right;
}
.normalfnt2bldBLACK {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	margin: 0px;
	font-weight: bold;
}
.normalfnt2Black {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	margin: 0px;
}
.topheadBLACK {
	font-family: "Century Gothic";
	font-size: 24px;
	font-weight: normal;
	color: #000000;
	margin: 0px;
}
.head2BLCK {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: #000000;
	margin: 0px;
	text-align: center;
}
.normalfnth2B {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}
.normalfntTAB2 {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-bottom-color: #333333;
	text-align: center;
}
.normalfnt2bldBLACKmid {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align: center;
}
.normalfnth2Bm {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}
.tablezRED {
	border: 1px solid #DC8714;
	background-color: #F8DDB6;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}
.tablezRedBorder
{
	border:1px solid #FF0000;
}
.fntwithWite {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align:left;
}

.PopoupTitleclass {
	font-family: Arial;
	font-size: 14pt;
	font-weight: normal;
	color: #ffffff;
	margin: 0px;
	text-align: left;
}.TitleN2white {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	margin: 0px;
	text-align:center;
}
.bcgl2Lbl {
	border: 1px solid #3E81B7;
}
.bcgl2Lblclear {
	border: 1px solid #FFFFFF;
}
.normalfntp2 {
	font-family: Verdana;
	font-size: 10px;
	color: #666666;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.headRed {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	margin: 0px;
}
.normalfntp2TAB {
	font-family: Verdana;
	font-size: 10px;
	color: #666666;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border: 1px solid #CCCCCC;
}
.tablezREDMid {
	border: 1px solid #666666;
	background-color: #CCCCCC;
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	text-align: center;
	font-weight: bold;
}

.tablezREDMid1 {
	border: 1px solid #666666;
	background-color: #F57705;
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	text-align: center;
	font-weight: bold;
}
.tablezREDMid2 {
	border: 1px solid #666666;
	background-color: #00FF66;
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	text-align: center;
	font-weight: bold;
}

.backgroundSelecterStyle{
   -moz-opacity: 0.5;
   background-color: #000000;
   color: #0066ff;
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=5);
   font-family: Verdana;
   font-size: 8pt
}
.noborderforlink {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.normaltxtmidb2L {
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	margin: 0px;
	font-weight: bold;
	text-align: left;
}
.normaltxtmidb2R {
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	margin: 0px;
	font-weight: bold;
	text-align: right;
}

.mouseover {
	cursor: pointer;
}

.mousewait{
	cursor:wait;
}
.backgroundcancel{
	background-image:url(file:///C|/Documents and Settings/admin/My Documents/images/cancel.jpg)}
.backcolorYellow {
    background-color: #FDEAA8;
}
.backcolorLightBlue {
    background-color: #CCFFFF;
}

.backcolorGreen 
{
	background-color: #DDF3DA;
}

.backcolorGreenRedBorder 
{
	background-color: #DDF3DA;
	border: 1px solid #FF0000;
}

.backcolorWhite {
    background-color: #FFFFFF;
}
.normalfntSM {

	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.normalfntMidSML {

	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	text-align: center;
}
.normalfntRiteSML {

	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	text-align: right;
}
.normalfntSMB {
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align:left;
}
.normalfntRiteTABb-ANS {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	text-align: right;
	vertical-align: top;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: double;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #666666;
	border-bottom-color: #000000;
	border-left-color: #666666;
	font-weight: bold;
}
.color1 {
	background-color: #FFFF00;
	border: 1px solid #333333;
}
.color2 {
	background-color: #999999;
	border: 1px solid #333333;
}
.color3 {
	background-color: #FFCC00;
	border: 1px solid #333333;
}
.color4 {
	background-color: #00CC00;
	border: 1px solid #333333;
}
.color5 {
	background-color: #00CCFF;
	border: 1px solid #333333;
}
.color6 {
	background-color: #FF99FF;
	border: 1px solid #333333;
}
.color7 {
	background-color: #FF0000;
	border: 1px solid #333333;
}
.osc1 {
	background-color: #CCCCCC;
	border: 1px solid #333333;
}
.osc1TXT {
	font-family: Verdana;
	font-size: 11px;
	border: 1px solid #abceea;
	text-align:left;
	background-color: #CCCCCC;
	border: 1px solid #333333;
}
.osc2 {
	background-color: #99FF99;
	border: 1px solid #333333;
}
.osc2TXT {
	font-family: Verdana;
	font-size: 11px;
	border: 1px solid #abceea;
	text-align:left;
	background-color: #99FF99;
	border: 1px solid #333333;
}
.osc3 {
	background-color: #FFFF99;
	border: 1px solid #333333;
}
.osc3TXT {
	font-family: Verdana;
	font-size: 11px;
	border: 1px solid #abceea;
	text-align:left;
	background-color: #FFFF99;
	border: 1px solid #333333;
}
.osc4 {
	background-color: #FF99FF;
	border: 1px solid #333333;
}
.osc4TXT {
	font-family: Verdana;
	font-size: 11px;
	border: 1px solid #abceea;
	text-align:left;
	background-color: #FF99FF;
	border: 1px solid #333333;
}
.bcgcolor {
	background-color: #D8E4F3;
}
.bcgcolor-row {
	background-color: #265275;
}
.bcgcolor-tblrow {
	background-color: #FFFFCC;
}
.bcgcolor-tblrowWhite {
	background-color: #FFFFFF;
}
.bcgcolor-tblrowLiteBlue {
	background-color: #F5F9FA;
}
.bcgcolor-highlighted {
	background-color: #99CCFF;
}
.bcgcolor-notify {
	background-color: #FF6633;
}
.bcgcolor-popup {
	background-color: #D6E7F5;
}
.bcgcolor-green {
	background-color: #CCFF33;
}
.bcgcolor-normal {
	background-color: #7A7AFF;
}
.cursercross{
cursor:move;
}
.notvalidreport {
	background-image: url(file:///C|/Documents and Settings/admin/My Documents/images/not-valid.png);
}
.normalfntTAB9 {
	font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	border: 1px solid #999999;
	vertical-align: top;
}

.normalfntMidTAB9 {
	font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	text-align: center;
	border: 1px solid #999999;
	vertical-align: top;

}
.normalfntRiteBlue {
	font-family: Verdana;
	font-size: 11px;
	text-align: right;
	font-weight: bold;
	color: #0000FF;
}
.normalfntLeftBlue {
	font-family: Verdana;
	font-size: 11px;
	text-align: left;
	font-weight: bold;
	color:#0000FF;

}
.normalfntCentretRedSmall {
	font-family: Verdana;
	font-size: 11px;
	font-weight:400;
	text-align: center;
	color:#FF0000;
}
.normalfntRightRedSmall {
	font-family: Verdana;
	font-size: 11px;
	text-align: right;
	font-weight:400;
	color:#FF0000;
}
.normalfntLeftRedSmall {
	font-family: Verdana;
	font-size: 11px;
	text-align: left;
	font-weight:400;
	font-weight:bolder;
	color:#FF0000;
}

.txtboxRightAllign {
	font-family: Verdana;
	font-size: 11px;
	color: #20407B;
	border: 1px solid #abceea;
	text-align:right;

}
.bigfntnm1Left {
	font-family: Arial;
	font-size: 14px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align: left;
}
.txtbox_withoutBorder {
   font-family: Verdana;
   font-size: 11px;
   color: #20407B;
   border: 1px solid #FFFFFF;
   text-align:left;
} 

.border-bottom {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-bottom-fntsize10 {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-bottom-fntsize12 {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-top {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-top-fntsize10 {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-top-fntsize12 {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.cusdec_border-top-fntsize9 {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-left {
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-left-fntsize9{
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-left-fntsize10 {
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-left-fntsize12 {
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}

.border-right {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;
		font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-right-fntsize9 {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;
		font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-right-fntsize10 {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;
		font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-right-fntsize12 {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;
		font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-right-fntsize12-bold{
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;
		font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight:bold;
	text-align:left;
}
.border-right {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;
		font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.cusdec-border-right-tax {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;
		font-family: Times New Roman;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-left-right {
	border-right-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-left-right-fntsize9 {
	border-right-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-left-right-fntsize10 {
	border-right-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-left-right-fntsize12 {
	border-right-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.cusdec_border-left-right-tax {
	border-right-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
		font-family: Times New Roman;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-top-bottom {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-top-bottom-fntsize9 {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-top-bottom-fntsize10 {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-top-bottom-fntsize12 {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}

.border-top-bottom-left {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
}
.border-top-bottom-left-fntsize9 {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
}
.border-top-bottom-left-fntsize10 {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
}
.border-top-bottom-left-fntsize12 {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
}
.border-top-bottom-right {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;
}
.border-top-bottom-right-fntsize9 {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;
}
.border-top-bottom-right-fntsize10 {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;
}
.border-top-bottom-right-fntsize12 {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;
}
.border-top-left {
	border-top-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-top-left-fntsize9 {
	border-top-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-top-left-fntsize10 {
	border-top-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-top-left-fntsize12 {
	border-top-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-top-right {
	border-top-width: thin;
	border-right-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
		font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-top-right-fntsize9 {
	border-top-width: thin;
	border-right-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
		font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-top-right-fntsize10 {
	border-top-width: thin;
	border-right-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
		font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-top-right-fntsize12 {
	border-top-width: thin;
	border-right-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
		font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-bottom-left {
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #000000;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-bottom-left-fntsize9 {
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #000000;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-bottom-left-fntsize10 {
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #000000;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-bottom-left-fntsize12 {
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #000000;
	border-left-color: #000000;
		font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-bottom-right {
	border-right-width: thin;
	border-bottom-width: thin;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-bottom-right-fntsize9 {
	border-right-width: thin;
	border-bottom-width: thin;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-bottom-right-fntsize10 {
	border-right-width: thin;
	border-bottom-width: thin;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-bottom-right-fntsize12 {
	border-right-width: thin;
	border-bottom-width: thin;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
		font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-Left-bottom-right {
	border-right-width: thin;
	border-bottom-width: thin;

	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
}
.border-Left-bottom-right-fntsize9 {
	border-right-width: thin;
	border-bottom-width: thin;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
}
.border-Left-bottom-right-fntsize10 {
	border-right-width: thin;
	border-bottom-width: thin;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
}
.border-Left-bottom-right-fntsize12 {
	border-right-width: thin;
	border-bottom-width: thin;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
}
.border-Left-Top-right {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #000000;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
}
.border-Left-Top-right-fntsize9 {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #000000;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
}
.border-Left-Top-right-fntsize10 {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #000000;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
}
.border-Left-Top-right-fntsize12 {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000000;

	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #000000;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
}
.border-All {
	border: thin solid #000000;
	   font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-All-fntsize9 {
	border: thin solid #000000;
	   font-family: Verdana;
	font-size: 9px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-All-fntsize10 {
	border: thin solid #000000;
	   font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
.border-All-fntsize12 {
	border: thin solid #000000;
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}
/*.mainHeading{
	
	background-color: #e0842f;
	padding: 1px 0px 4px 8px;
	width:auto;
	border:0;

	text-align:center;
	font-size: 14px;
	font-family: Verdana;
	text-align:center;
	color: #FFFFFF;
	font-weight:bold;
}*/
.mainHeading3 {
	padding: 1px 0px 4px 8px;
	width:auto;
	border:0;

	background-color: #FDC042;

	text-align:center;
	font-size: 16px;
	font-family: Verdana;
	text-align:center;
	color: #804000;
	font-weight:bold;
}

.mainHeading2 {
	padding: 1px 0px 4px 8px;
	width:auto;
	border:0;
	background-color: #FAD163;

	text-align:center;
	font-size: 13px;
	font-family: Verdana;
	text-align:center;
	color: #751609;
}

.mainHeading {
	padding: 1px 0px 4px 8px;
	width:auto;
	border:0;
	background-color: #550000;
	
	text-align:center;
	font-size: 12px;
	font-family: Verdana;
	text-align:center;
	color: #FFFFFF;
}

.mainHeading4 {
	padding: 1px 0px 4px 8px;
	width:auto;
	border:0;
	/*background-color: #FAD163;*/
	background-color: #FBF8B3;
	
	
	text-align:center;
	font-size: 11px;
	font-family: Verdana;
	text-align:center;
	color: #800000;
}

.mainHeading5 {
	padding: 1px 0px 4px 8px;
	width:auto;
	border:0;
	/*background-color: #FAD163;*/
	background-color: #FFFFFF;
	
	
	text-align:center;
	font-size: 11px;
	font-family: Verdana;
	text-align:center;

}



.tableBorder3 {
	border: 1px solid #FAD163;
}

.tableBorder2 {
	border: 2px solid #FAD163;
}

.tableBorder1 {
	border: 1px solid #CCCCCC;
}
.tableBorder{
	border: 1px solid #CCCCCC;
}
.tableFooter1{
background-color:#f3d0af ;

}

.tableFooter{
border: 1px solid #CCCCCC;
}




/* below lines for format input box  */

input:not([readonly]):not([type=image]):focus, select:focus, textarea:focus {
	background-color: #e6fecd;
	
	
}

*[readonly] {
	color:#B8B6B0
}

table.simpleList {
        border-width: 1px;
        border-collapse: collapse;
        border-style: solid;
        border-color: gray;
        margin:5px 0 0 5px;
}


table.simpleList td {
        border-width: 0px;
        padding: 3px 3px 3px 5px;
}

.inputFormatHint {
	color: #D8D8D8;
}


    :disabled:not([type="image"]) {
        background-color:#FFFFFF;
        color:#444444;
    }

    input[type=text] {


		
		font-family: Verdana;
		font-size: 11px;
		color: #20407B;
		text-align:left;
		
		        border-top: 1px solid #B4B4B4;
        border-left: 1px solid #B4B4B4;
        border-right: 1px solid #B4B4B4;
        border-bottom: 1px solid #B4B4B4;
    }
	
select{

		font-family: Verdana;
		font-size: 11px;
		color: #20407B;
		text-align:left;
		
		border-top: 1px solid #B4B4B4;
        border-left: 1px solid #B4B4B4;
        border-right: 1px solid #B4B4B4;
        border-bottom: 1px solid #B4B4B4;
    }

.mbari1{
	background-color: #46332c;
}
.mbari2{
	background-color: #ce6d42;
}
.mbari3{
	background-color: #d47346;
}
.mbari4{
	background-color: #d57346;
}
.mbari5{
	background-color: #d47b39;
}
.mbari6{
	background-color: #b26038;
	
		padding: 1px 0px 4px 8px;
	width:auto;
	border:0;

	text-align:center;
	font-size: 16px;
	font-family: Verdana;
	text-align:center;
	color: #FFFFFF;
	font-weight:bold;
}
.mbari7{
	background-color: #604335;
}
.mbari8{
	background-color: #da8042;
}
.mbari9{
/*	background-color: #df8431;*/
	
		padding: 1px 0px 4px 8px;
	width:auto;
	border:0;
	background-color: #df8431;
	
	text-align:center;
	font-size: 12px;
	font-family: Verdana;
	text-align:center;
	color: #FFFFFF;
}
.mbari10{
	background-color: #846632;
}

.mbari11{
	background-color: #c8c5d8;
}
.mbari12{
	background-color: #e38a36;

}


.mbari13{
	background-color: #f3d0af;

}

.compulsoryRed{
	color:#F00;
}

/*img:not(.mainImage) {
  	cursor: pointer;
  	filter:alpha(opacity70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}



img:hover {
	cursor: pointer;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity:1;
}
*/
.chbox{
	font-family: Verdana;
	font-size: 11px;
	color: #20407B;
	text-align:left;
	border-top: 1px solid #B4B4B4;
	border-left: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
}

.mainImage{
 	border:0;
}

.txtArea { background-color:#fff4c8;border:1px dashed #ffcc00; padding:3px; margin:20px; }


/*

img {
  cursor: pointer;
}

.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

img:hover {
filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
}*/

input[type=checkbox] {

	margin:0px;
}

.seversion{
	font-family: Verdana;
	font-size: 9px;
	color: #FF6600;
	line-height:9px;
	margin: 0px;
	font-weight: normal;
	text-align:right;
	
}

input[type=radio] {
	margin:0px;
}


.main_top2 {
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	background-color:#83ac1f;
	position : absolute; top : -10px; left:-1px; width:100%; height:24px;
	border:1px solid;
	border-bottom-color:#83ac1f;
	border-top-color:#83ac1f;
	border-left-color:#83ac1f;
	border-right-color:#83ac1f;
}
/*/////////////============= THUSHARA===========/////////*/
.main_top {
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	background-color:#550000;
	position : absolute; top : -10px; left:-1px; width:100%; height:24px;
	border:1px solid;
	border-bottom-color:#550000;
	border-top-color:#550000;
	border-left-color:#550000;
	border-right-color:#550000;
}

.main_top1 {
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	background-color:#550000;
	position : absolute; top : -10px; left:-1px; width:100%; height:24px;
	border:1px solid;
	border-bottom-color:#550000;
	border-top-color:#550000;
	border-left-color:#550000;
	border-right-color:#550000;
}

.main_bottom_big {
	width:auto; height:auto;
	position : absolute; 
	top : 125px; left:50px;
	border:1px solid;
	background-color:#FFFFFF;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-color:#550000;
	border-top-color:#550000;
	border-left-color:#550000;
	border-right-color:#550000;
	padding-top:20px;
	padding-bottom:25px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom:13px solid #550000;
}

.main_bottom_center {
	width:auto; height:auto;
	position : absolute; 
	top : 125px; left:150px;
	background-color:#FFFFFF;
	border:1px solid;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-color:#550000;
	border-top-color:#550000;
	border-left-color:#550000;
	background-color:#FFFFFF;
	border-right-color:#550000;
	padding-top:20px;
	padding-bottom:15px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom:10px solid #550000;
}

.main_bottom_center_popup {
	width:auto; height:auto;
	position : absolute; 
	top : 10px; left:0px;
	background-color:#FFFFFF;
	border:1px solid;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-color:#550000;
	border-top-color:#550000;
	border-left-color:#550000;
	background-color:#FFFFFF;
	border-right-color:#550000;
	padding-top:20px;
	padding-bottom:15px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom:10px solid #550000;
}

.main_bottom_center1 {
	width:auto; height:auto;
	position : absolute; 
	top : 150px; left:350px;
	background-color:#FFFFFF;
	border:1px solid;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-color:#550000;
	border-top-color:#550000;
	border-left-color:#550000;
	background-color:#FFFFFF;
	border-right-color:#550000;
	padding-top:15px;
	padding-bottom:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom:10px solid #550000;
}

.main_bottom_pop
{
	width:433; height:250;
	position : absolute; 

	border:1px solid;
	float:left;
	border-bottom-color:#83ac1f;
	border-top-color:#83ac1f;
	border-left-color:#83ac1f;
	background-color:#FFFFFF;
	border-right-color:#83ac1f;
	padding-right:15px;
	padding-top:20px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom:13px solid #83ac1f;

}


.main_bottom2
{
    width:650px; height:auto;
	position : absolute; 
	top : 110px; left:200px;
	border:1px solid;
	float:left;
    border:1px solid;
	border-bottom-color:#83ac1f;
	
	border-left-color:#83ac1f;
	border-right-color:#83ac1f;	
	margin-top:20px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border-bottom:13px solid #83ac1f;

}
.pop_country
{
	
}

.main_bottom{
	width:auto; height:auto;
	position : absolute; 

	border:1px solid;
	border-bottom-color:#83ac1f;
	border-top-color:#83ac1f;
	border-left-color:#83ac1f;
	background-color:#FFFFFF;
	border-right-color:#83ac1f;
	padding-right:330px;
	padding-top:220px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom:13px solid #83ac1f;
}

.main_bottom_Pop{
	width:auto; height:auto;
	position : absolute; 
	top : 10px; left:0px;
	border:1px solid;
	float:left;
	border-bottom-color:#550000;
	border-top-color:#550000;
	border-left-color:#550000;
	background-color:#FFFFFF;
	border-right-color:#550000;
	padding-right:15px;
	padding-top:20px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom:13px solid #550000;
}

.main_bottom1{
	width:auto; height:auto;
	position : absolute; 
	top : 125px; left:300px;
	border:1px solid;
	float:left;
	border-bottom-color:#550000;
	border-top-color:#550000;
	border-left-color:#550000;
	background-color:#FFFFFF;
	border-right-color:#550000;
	padding-right:15px;
	padding-top:20px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom:13px solid #550000;
}

.main_bottom_popup{
	width:auto; height:auto;
	position : absolute; 
	top : 10px; left:0;
	border:1px solid;
	float:left;
	border-bottom-color:#550000;
	border-top-color:#550000;
	border-left-color:#550000;
	background-color:#FFFFFF;
	border-right-color:#550000;
	padding-right:15px;
	padding-top:20px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom:13px solid #550000;
}

.main_body {
	width:auto; height:auto;
	padding-right:25px;
	background-color:#FFFFFF;
	padding-top:10px;
	padding-left:45px;
	padding-bottom:5px;
}

.main_body1 {
	width:auto; height:auto;
	padding-right:25px;
	background-color:#FFFFFF;
	padding-top:20px;
	padding-left:45px;
	padding-bottom:5px;
}

.main_body td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.main_text {
	text-align:center;
	font-size: 13px;
	font-family: Verdana;
	padding-top:4px;
	width:100%;
	color:#ffffff;
	text-align:center;
}


.main_text1 {
	text-align:center;
	font-size: 13px;
	font-family: Verdana;
	padding-top:4px;
	width:100%;
	color:#ffffff;
	text-align:center;
}

.main_text2 {
	text-align:center;
	font-size: 13px;
	font-family: Verdana;
	padding-top:4px;
	width:100%; 
	color:#000;
	text-align:center;
}
.newbg_color{
	background-color: #fcf9f2;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:center;
}

.text_style{
	color:#000000;
	background-color:#FFCC00;
	font-size:12px;
	text-align:center;
}

.tbcolorOrange {
	border: 1px solid #fcb333;
	background-color: #fcb333;
	font-size: 11px;
	color: #000000;
}

.tbcolorGray {
	border: 1px solid #cccccc;
	background-color: #cccccc;
	font-size: 13px;
	color: #000000;
}

.tbbg {
	background-color: #fcb333;
}

.table_headers {
	font-family: Verdana;
	font-size: 13px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align: center;
}

.table_sub_headers {
	font-family: Verdana;
	border: 1px solid #fcb333;
	font-size: 10px;
	color: #000000;
	background-color:#FBF8B3;
	margin: 0px;
	font-weight: bold;
	text-align: left;
	padding-left:5px;
}

.bcgcolor-tblrow-gray {
	background-color:#FFCC00;
}

.thead_color{
	background-color:#FAD163;
	text-align:center;
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align: center;
}

.tfoot_border{
	border:1px solid;
	border-bottom-color:#FAD163;
	border-top-color:#FAD163;
	border-left-color:#FAD163;
	border-right-color:#FAD163;
}

.version{
	color:#000000;
	font-size:12px;
	text-align:right;
	font-weight:normal;
	position : absolute; 
	top :10px; left:-1px; width:97%;
}

.item-highlighted {
	font-weight:bold;
	font-size:12px;
}

.text_deco{
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
}

input.deco{
	border:1px solid #fad163;
	color:#000000;
	width:auto;
}

.grid_color {
	padding: 1px 0px 4px 8px;
	width:auto;
	border:0;
	/*background-color: #FAD163;*/
	background-color:#CCCCCC;
	text-align:center;
	font-size: 11px;
	font-family: Verdana;
	text-align:center;
	color: #000000;
}

.table_heading_01 {
	padding: 1px 0px 4px 8px;
	width:auto;
	border:0;
	background-color:#CCCCCC;
	text-align:center;
	font-size: 13px;
	font-family: Verdana;
	text-align:center;
	color: #751609;
}

.head_text{
	font-size:14px;
	font-weight:bold;
}

input[type=radio] {

	margin:0px;
}>>>>>>> .r563

.color_for_td {
	background-color:#D1A739;
	text-align:center;
	font-size: 13px;
	font-family: Verdana;
	color: #751609;
}

.normal_back {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:left;
	background-color:#CCCCCC;
}

.main_border_line {
	border: 1px solid #cccccc;
}

.content_header {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	background-color:#EBDCA9;
}

.containers{
	font-family: Verdana;
	font-size: 11px;
	color: #646403;
	margin: 0px;
	font-weight: bold;
	text-align:left;
	background-color:#d1bb6f;
}

.sub_containers{
	font-family: Verdana;
	font-size: 11px;
	color: #646403;
	margin: 0px;
	font-weight: normal;
	text-align:center;
	background-color:#d1bb6f;
}

.grid_header{
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight:bold;
	text-align:center;
	background-color:#fff3cf;
	color:#c4a641;
	border: 1px solid #cccccc;
}

.grid_raw{
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:center;
	background-color:#F5F5F5;
	color:#000000;
	border: 1px solid #cccccc;
}

.grid_raw2{
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:center;
	background-color:#E8E8E8;
	color:#000000;
	border: 1px solid #cccccc;
}

.vol{
	font-family: Verdana;
	font-size: 9px;
	color: #FF6600;
	font-weight: normal;
	font-size:10px;
	text-align:right;
	position : absolute; 
	top :7px; left:-1px; width:97%;
}

.volu{
	font-family: Verdana;
	font-size: 9px;
	color: #2e4d03;
	font-weight: normal;
	font-size:10px;
	text-align:right;
	position : absolute;
	top :48px;
	left:-1px;
	width:97%;
}


#main{
	width:auto;
	height:auto;
}

#slide1 {
	border:1px solid;
	border-bottom-color:#fcb333;
	border-top-color:#fcb333;
	border-left-color:#fcb333;
	border-right-color:#fcb333;
	width:157px; height:auto;
	left : 10px; top : 10px;
	float:left;
	-moz-border-radius-topright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-bottomleft:4px;
}

#slide2 {
	border:1px solid;
	border-bottom-color:#fcb333;
	border-top-color:#fcb333;
	border-left-color:#fcb333;
	border-right-color:#fcb333;
	width:780px; height:355px;
	left : 235px; top : 93px;
	float:left;
	position:absolute;
	-moz-border-radius-topright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-bottomleft:4px;
}

.pic_txt{
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align:center;
}

a{
	text-decoration:none;
}

.pic_border{
	border-top:1px solid #fad333;
	border-bottom:1px solid #fad333;
}

.border_manual{
	border:3px solid #cccccc;
}

.main_bottompop{
	width:600px; height:auto;
	position : absolute; 
	top : auto; left:177px;
	border:1px solid;
	border-bottom-color:#83ac1f;
	border-top-color:#83ac1f;
	border-left-color:#83ac1f;
	border-right-color:#83ac1f;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	padding-right:35px;
	padding-top:20px;
	background-color:#FFFFFF;
	border-bottom:13px solid #83ac1f;
}


.main_bodypop {
	width:auto; height:auto;
	padding-right:25px;
	padding-top:20px;
	padding-left:45px;
	padding-bottom:5px;
	background-color:#FFFFFF;
}

.main_toppop {
	background-color:#83ac1f;
	position : absolute; top :0; left:0; width:100%; height:24px;
	border:1px solid;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border-bottom-color:#83ac1f;
	border-top-color:#83ac1f;
	border-left-color:#83ac1f;
	border-right-color:#83ac1f;
}

#creditdebitnote{
	padding-left:40px;
	border:1px solid #fcb333;
}

.table_css{
	border:1px solid #fcb333;
	width:auto;
	height:auto;
}

.thetable{
	border:1px solid #fcb333;
}
 
.thetable CAPTION{
	background-color:#d1bb6f;
	height:20px;
	padding-top:5px;
	font-family: Verdana;
	font-size: 11px;
	color:#646403;
	margin: 0px;
	font-weight: bold;
	text-align:center;
}

.thetable th{
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight:bold;
	text-align:center;
	background-color:#fff3cf;
	color:#c4a641;
	border: 1px solid #CCCCCC;
}

.thetable tr{
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:center;
	background-color:#ffffff;
	color:#000000;
	border: 1px solid #cccccc;
}

.odd{background-color:#F5F5F5;}
.even{background-color:#FFFFFF;}

.table_grib_css thead tr{
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight:bold;
	text-align:center;
	background-color:#fff3cf;
	color:#c4a641;
	border: 1px solid #CCCCCC;
}

.operation_header{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	background-color:#ffecb3;
	text-align:left;
	width:300px;
	color:#ae8402;
	font-weight:bold;
}

.edit{background-color: #B1D6AB;} 

.normalHeading {
	font-family: Verdana;
	font-size: 30px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align:center;
	margin-top:15px;
}

.normalSubHeading {
	font-family: Verdana;
	font-size: 18px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:center;
	padding-top:15px;
}

.normalfooter {
	font-family: Verdana;
	font-size: 15px;
	color: #000000;
	margin: 0px;
	font-weight: normal;
	text-align:center;
	padding-top:15px;
}

.normalTopic{
	font-family: Verdana;
	font-size: 15px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align:left;
	padding-top:15px;
	padding-left:270px;
}

.layoutGrid{
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-align:center;
}

.divGrid{
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	text-align:left;
	padding-top:3px;
	padding-bottom:3px;
	margin-top:15px;
}

.subcontainers{
	width:auto;
	height:auto;
	margin-bottom:125px;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	border:1px solid #cccccc;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-bottomleft:5px;
}


.topicSubCon{
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-align:center;
	color:#0033FF;
	margin-top:3px;
}

.topicSub{
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	border-right:2px solid #cccccc;
	padding-right:130px;
}

.topic_Sub{
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	padding-left:130px;
}

.TotalSub{
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	padding-right:58px;
	border-right:2px solid #cccccc;
}

.netData{
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	text-align:left;
	color:#000000;
	width:auto;
}

.Total_Sub{
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-align:right;
	width:80px;
	style="float: right;
}

.hr{
	border:1px solid #cccccc;
}

.normalfntC {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align:left;
}

.normalfntCB {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	font-weight: bold;
	text-align:center;
}

.footer_layout{
	margin:200px;
}

/*/////////////////////////////////////Transport system\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.trans_layout1{
	width:auto; height:auto;
	position : absolute; 
	top : 150px; left:250px;
	border:1px solid;
	float:left;
	border-bottom-color:#83ac1f;
	border-top-color:#83ac1f;
	border-left-color:#83ac1f;
	border-right-color:#83ac1f;
	background-color:#FFFFFF;
	padding-right:15px;
	padding-top:20px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom:13px solid #83ac1f;
}

.trans_layoutD{
	width:600px; height:auto;
	border:1px solid;
	border-bottom-color:#83ac1f;
	border-top-color:#83ac1f;
	border-left-color:#83ac1f;
	border-right-color:#83ac1f;
	background-color:#FFFFFF;
	padding-right:15px;
	padding-top:10px;
	padding-left:30px;
	padding-right:30px;
	margin-top:20px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border-bottom:13px solid #83ac1f;
	border-top:30px solid #83ac1f;
}

.trans_layoutS{
	width:500px; height:auto;
	border:1px solid;
	border-bottom-color:#83ac1f;
	border-top-color:#83ac1f;
	border-left-color:#83ac1f;
	border-right-color:#83ac1f;
	background-color:#FFFFFF;
	padding-right:15px;
	padding-top:10px;
	padding-left:30px;
	padding-right:30px;
	margin-top:20px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border-bottom:13px solid #83ac1f;
	border-top:30px solid #83ac1f;
}


.trans_layoutL{
	width:800px; height:auto;
	border:1px solid;
	border-bottom-color:#83ac1f;
	border-top-color:#83ac1f;
	border-left-color:#83ac1f;
	border-right-color:#83ac1f;
	background-color:#FFFFFF;
	padding-right:15px;
	padding-top:10px;
	padding-left:30px;
	padding-right:30px;
	margin-top:20px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border-bottom:13px solid #83ac1f;
	border-top:30px solid #83ac1f;
}

.trans_layoutXL{
	width:auto; height:auto;
	border:1px solid;
	border-bottom-color:#83ac1f;
	border-top-color:#83ac1f;
	border-left-color:#83ac1f;
	border-right-color:#83ac1f;
	background-color:#FFFFFF;
	padding-right:15px;
	padding-top:10px;
	padding-left:30px;
	padding-right:30px;
	margin-top:20px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border-bottom:13px solid #83ac1f;
	border-top:30px solid #83ac1f;
}
/*.trans_top {
	
	background-color:#8bc33e;
	position : absolute; top : -10px; left:-1px; width:100%; height:24px;
	border:1px solid;
	border-bottom-color:#83ac1f;
	border-top-color:#83ac1f;
	border-left-color:#83ac1f;
	border-right-color:#83ac1f;
}
*/
.trans_text {
	position:relative;
	top : -35px; left:-1px; width:100%; height:24px;
	text-align:center;
	font-size: 13px;
	font-family: Verdana;
	padding-top:4px;
	width:100%;
	color:#2e4d03;
	text-align:center;
	font-weight:bold;
}

#subLayout{
	margin-top:10px;
}

.mainHeader {
	font-family: Verdana;
	font-size: 16px;
	color: #5e9119;
	margin: 0px;
	font-weight: bold;
	text-align:left;
}

.ulHeader {
	font-family: Verdana;
	font-size: 12px;
	color: #5e9119;
	margin: 0px;
	font-weight: normal;
	text-align:left;
}


.line{
	position:fixed;
	top:150px;
	background-color:#dcd5d5;
	height:3px;
	width:100%;
}

.reportGrid{
	position:fixed;
	top:170px;
}

.imgBorder{
	border:1px solid #dcd5d5;
	padding-bottom:3px;
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;
}

.reportGridtrn{
	background-color:#f1efef;
	font-family: Verdana;
	font-size: 11px;
	color: #565454;
	font-weight: bold;
	text-align:center;
}

.reportGridtrn2{
	background-color:#ffffff;
	font-family: Verdana;
	font-size: 11px;
	color: #8c8686;
	font-weight: normal;
	text-align:center;
}

.reportDataheader{
	background-color:#dddee1;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	text-align:center;
}

.reportDatainsert{
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	text-align:center;
}

.tableHeaderT{
	background-color:#dddee1;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	text-align:center;
}

.innerBorder{
	border:1px solid #d0caca; 
	padding-right:3px; 
	padding-bottom:3px; 
	padding-top:3px; 
	padding-left:3px;
	width:605px;
}

.SubHeader{
	font-family:Verdana, Geneva, sans-serif; 
	font-size:11px;
	background-color:#F9FEDA;
	border:1px solid #D7DF01;
	font-weight:normal;
	margin-top:3px;
	margin-bottom:4px;
}

.SubHeader2{
	font-family:Verdana, Geneva, sans-serif; 
	font-size:11px;
	background-color:#F6F7F2;
	border:1px solid #ECEEE8;
	font-weight:normal;
	margin-top:3px;
	margin-bottom:4px;
}

.SubHeaderBorder{
	border:1px solid #ECEEE8;
	background-color:#F6F7F2;
	padding-top:5px;
	padding-bottom:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
}

.hrline{
	width:800px;
	color:#CCCCCC;
	height:1px;
	text-align:center;
}


.destinationHeader thead tr{
	background-color:#EFEFEF;
}

.primeover{
	border:1px solid #ECEEE8;
	border-collapse:collapse;
}
