/* CSS Reset   
----------------------------------------------------------*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}*/
table.tbl1 
{
	border-collapse: collapse;
	border-spacing: 0;
}
/* h1 style 
----------------------------------------------------------*/
h1
{
	font-size: 20px;
	text-align: center;
	background-color: #ffffdd;
	border: solid 1px #888;
	margin: 0 0 10px 0;
	padding: 5px;
}

/* Table style  
----------------------------------------------------------*/
table.tbl1
{
	width: 100%;
}

table.tbl1 thead
{
	background: #A3C2EA url('../images/tbl_head_bg.png') repeat-x scroll 0 0;
	color: #333;
	width: 100%;
}

table.tbl1 tbody
{
	width: 100%;
}

table.tbl1 tr td,
table.tbl1 tr th
{
	border: solid 1px #888;
	margin: 0;
	padding: 4px 0;
}

table.tbl1 tr td
{
	text-align: center;
	background-color: #fff;
	color: #444;
}

table.tbl1 tbody tr.alt td
{
	background-color: #e4ecf7;
}

table.tbl1 tr.over td,
table.tbl1 tbody tr.alt.over td
{
	background-color: #bcd4ec;
	color: #000;
}

/*table.tbl1 a
{
	color: #2a4a73;
	text-decoration: underline;
}*/

table.tbl1 a:hover
{
	text-decoration: none;
}

/*table.tbl1 a:visited
{
	color: #bccedc;
}*/

/* Define column widths 
----------------------------------------------------------*/

/* SAMPLE PROGRESS / SAMPLE APPROVAL / SAMPLE SEARCHING */
table.tbl1 td.sampleno
{
	width: 90px;
}
table.tbl1 td.styleno
{
	width: 80px;
}
table.tbl1 td.graphic
{
	width: 139px;
}
table.tbl1 td.customer
{
	width: 161px;
}
table.tbl1 td.qty
{
	width: 40px;
}
table.tbl1 td.deliverqty
{
	width: 71px;
}
table.tbl1 td.recdate
{
	width: 90px;
}
table.tbl1 td.dispatchdate
{
	width: 70px;
}
table.tbl1 td.costapproval
{
	width: 90px;
}
table.tbl1 td.customerapproval
{
	width: 90px;
}
table.tbl1 td.view
{
	width: 40px;
}
table.tbl1 td.progress
{
	width: 71px;
}
table.tbl1 td.approvelevel
{
	width: 88px;
}
/* SAMPLE PROGRESS / SAMPLE APPROVAL / SAMPLE SEARCHING */

/* Chart of Accounts Listing */
table.tbl1 td.accCode
{
	width: 100px;
        text-align: left;

}
table.tbl1 td.accName
{
	width: 159px;
        text-align: left;
}
table.tbl1 td.fName
{
	width: 98px;
}
table.tbl1 td.type
{
	width: 69px;
}
table.tbl1 td.posLevel
{
	width: 60px;
}
table.tbl1 td.active
{
	width: 40px;
}
/* Chart of Accounts Listing */

/* Chart of Accounts Sub Listing */
table.tblSub1
{
	width: 100%;
        
}
table.tblSub1 thead
{
	background: #A3C2EA url('../images/tbl_head_bg.png') repeat-x scroll 0 0;
	color: #333;
	width: 100%;
}

table.tblSub1 tbody
{
    width: 100%;
}
table.tblSub1 tr td,
table.tblSub1 tr th
{
	border: solid 0px #888;
	margin: 0;
	padding: 0px 0;
}

table.tblSub1 tr td
{
	text-align: center;
	background-color:#fff;
	color: #444;
}

table.tblSub1 tbody tr.alt td
{
	background-color:#ffffdd;
}

table.tblSub1 tr.over td,
table.tblSub1 tbody tr.alt.over td
{
	background-color:#D3F8DC;
	color: #000;        
}

table.tblSub1 a:hover
{
	text-decoration: none;
}

table.tblSub1 td.accCode
{
	width: 100px;
        text-align: center;
}
table.tblSub1 td.accName
{
	width: 159px;
        text-align: center;
        
}
table.tblSub1 td.fName
{
	width: 98px;
}
table.tblSub1 td.type
{
	width: 69px;
}
table.tblSub1 td.posLevel
{
	width: 60px;
}
table.tblSub1 td.active
{
	width: 40px;
}
/* Chart of Accounts Sub Listing */

/* Currency Listing */
table.tbl1 td.isoCode
{
	width: 50px;
}
table.tbl1 td.symbol
{
	width: 50px;
}
table.tbl1 td.cDesc
{
	width: 90px;
}
table.tbl1 td.cAcc
{
	width: 176px;
}
/* Currency Listing */

/* Exchange Rate Listing */
table.tbl1 td.exCurrency
{
	width: 50px;
}
table.tbl1 td.exDate
{
	width: 120px;
}
table.tbl1 td.exSellRate
{
	width: 75px;
}
table.tbl1 td.exBuyRate
{
	width: 75px;
}
/* Exchange Rate Listing */

/* Dimension Listing */
table.tbl1 td.diCode
{
	width: 60px;
}
table.tbl1 td.diName
{
	width: 60px;
}
table.tbl1 td.diRemark
{
	width: 120px;
}
/* Dimension Listing */

/* Account Item Activate */
table.tbl1 td.itemClass
{
	width: 60px;
}
table.tbl1 td.itemCat
{
	width: 80px;
}
table.tbl1 td.itemSubCat
{
	width: 84px;
}
table.tbl1 td.itemAcc
{
	width: 105px;
}
/* Account Item Activate */

/* Chart of Accounts Activate - Customer */
table.tbl1 td.accActSelect
{
	width: 15px;
}
table.tbl1 td.accActCusCode
{
	width: 80px;
}
table.tbl1 td.accActCusName
{
	width: 161px;
}
table.tbl1 td.accActAcc
{
	width: 165px;
}
/* Chart of Accounts Activate */

/* Chart of Accounts Activate - Customer Item */
table.tbl1 td.accActCusItmCode
{
	width: 80px;
}
/* Chart of Accounts Activate */

/* Chart of Accounts Activate - Supplier */
table.tbl1 td.accActSupCode
{
	width: 80px;
}
/* Chart of Accounts Activate */

/* Chart of Accounts Activate - Supplier Item */
table.tbl1 td.accActSupItmCode
{
	width: 80px;
}
/* Chart of Accounts Activate */

/* Chart of Accounts Activate - Tax */
table.tbl1 td.accActTaxCode
{
	width: 80px;
}
/* Chart of Accounts Activate */

/* Chart of Accounts Activate - Currency */
table.tbl1 td.accActCurrencyCode
{
	width: 101px;
}
table.tbl1 td.accActCurrencySymbol
{
	width: 100px;
}
table.tbl1 td.accActCurrencyAcc
{
	width: 155px;
}
/* Chart of Accounts Activate */

/* Customer Item Listing */
table.tbl1 td.cusItemName
{
	width: 58px;
}
table.tbl1 td.cusItemDesc
{
	width: 110px;
}
table.tbl1 td.cusItemAcc
{
	width: 170px;
}
/* Customer Item Listing */

/* Supplier Item Listing */
table.tbl1 td.supItemName
{
	width: 58px;
}
table.tbl1 td.supItemDesc
{
	width: 110px;
}
table.tbl1 td.supItemAcc
{
	width: 170px;
}
/* Supplier Item Listing */

/* Sales Invoice Listing */
table.tbl1 td.slInvoCusName
{
	width: 120px;
}
table.tbl1 td.slInvoPo
{
	width: 90px;
}
table.tbl1 td.slInvoMarketer
{
	width: 60px;
}
table.tbl1 td.slInvoRef
{
	width: 110px;
}
table.tbl1 td.slInvoView
{
	width: 35px;
}
/* Sales Invoice Listing */

/* purchase Invoice Listing */
table.tbl1 td.prInvoCusName
{
	width: 180px;
}
table.tbl1 td.prInvoPo
{
	width: 80px;
}
table.tbl1 td.prInvoGrn
{
	width: 80px;
}
table.tbl1 td.prInvoRef
{
	width: 80px;
}
table.tbl1 td.prInvoView
{
	width: 39px;
}
/* purchase Invoice Listing */

/* Service Provider Listing */
table.tbl1 td.proName
{
	width: 136px;
}
table.tbl1 td.address
{
	width: 100px;
}
table.tbl1 td.telNo
{
	width: 100px;
}
table.tbl1 td.contactPer
{
	width: 98px;
}
table.tbl1 td.blocked
{
	width: 40px;
}
/* Service Provider Listing */

/* Payments Listing */
table.tbl1 td.recPayCusName
{
	width: 100px;
}
table.tbl1 td.recPayDate
{
	width: 80px;
}
table.tbl1 td.recPayCurrency
{
	width: 70px;
}
table.tbl1 td.recAmount
{
	width: 90px;
}
table.tbl1 td.recPayRef
{
	width: 125px;
}
/* Sales Invoice Listing */

.highlight{ background-color: #D9D9FF; }
