<table>
    <tr>
        <!--<td style="height: 510px" align="center"><img height="450" src="images/seasons-greetings_2015.jpg" /></td>-->
        <td style="height: 10px" align="center">&nbsp;</td>
    </tr>
</table>