.vs-context-menu{
    display:none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    position: absolute;
    background: #EEEEEE;
    border: 1px solid #DDDDDD;
    width:auto;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    font-size: 13px;
}

.vs-context-menu ul{
       list-style: none;
        padding: 0;
        margin: 0;
}

.vs-context-menu li{
    margin: 0px;
    padding: 3px;
}
.vs-context-menu ul a{
        display: block;
	padding: 1px 5px;
	padding-left: 28px;
        text-decoration: none;
        color: #000;
        background-repeat: no-repeat;
}

.vs-context-menu ul li a:hover, .vs-context-menu ul li a:focus {
color: #FFFFFF;
background-color: green;
}

.seprator{
    border-bottom: 1px solid  #DDDDDD;
}


.vs-context-menu li.show A { background-image: url(icons/show.png); }
.vs-context-menu li.plan A { background-image: url(icons/plan.png); }
.vs-context-menu li.locat A { background-image: url(icons/allocate.png); }
.vs-context-menu li.cal A { background-image: url(icons/cal.png); }
.vs-context-menu li.split A { background-image: url(icons/split.png); }
.vs-context-menu li.undo A { background-image: url(icons/undo.png); }
.vs-context-menu li.cros A { background-image: url(icons/cros.png); }
.vs-context-menu li.join A { background-image: url(icons/join.png); }
.vs-context-menu li.memo A { background-image: url(icons/memo.png); }
.vs-context-menu li.apply A { background-image: url(icons/apply.png); }
.vs-context-menu li.initial A { background-image: url(icons/initial.png); }
.vs-context-menu li.edit A { background-image: url(icons/edit.png); }
.vs-context-menu li.cancel A { background-image: url(icons/cancel.png); }



.vs-context-menu1{
    display:none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    position: absolute;
    background: #EEEEEE;
    border: 1px solid #DDDDDD;
    width:auto;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    font-size: 13px;
}

.vs-context-menu1 ul{
       list-style: none;
        padding: 0;
        margin: 0;
}

.vs-context-menu1 li{
    margin: 0px;
    padding: 3px;
}
.vs-context-menu1 ul a{
        display: block;
	padding: 1px 5px;
	padding-left: 28px;
        text-decoration: none;
        color: #000;
        background-repeat: no-repeat;
}

.vs-context-menu1 ul li a:hover, .vs-context-menu1 ul li a:focus {
color: #FFFFFF;
background-color: green;
}

.seprator{
    border-bottom: 1px solid  #DDDDDD;
}

.vs-context-menu1 li.capacity A { background-image: url(icons/plan.png); }