<link rel="stylesheet" type="text/css" href="libraries/easyui/themes/default/easyui.css">
<link href="libraries/SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
<link href="libraries/validate/template.css" rel="stylesheet" type="text/css">
<link href="libraries/validate/validationEngine.css" rel="stylesheet" type="text/css">
<link href="css/mainstyle.css" rel="stylesheet" type="text/css" />
<link href="css/promt.css" rel="stylesheet" type="text/css" />
<link href="images/favicon.ico" rel="shortcut icon"  />
<link href="libraries/calendar/theme.css" rel="stylesheet" type="text/css"  />
<link href="css/button.css" rel="stylesheet" type="text/css" />

<!-- chosen v1.1.0  -->
<link rel="stylesheet" type="text/css" href="libraries/chosen/chosen_1.1.0/chosen.min.css" />

<!-- validation engine v2.6.2  -->
<link rel="stylesheet" href="libraries/validationEngine/css/validationEngine.jquery.css" type="text/css"/>
<link rel="stylesheet" href="libraries/validationEngine/css/template.css" type="text/css"/>

<!-- jqgrid css  -->
<link rel="stylesheet" type="text/css" media="screen" href="libraries/jqdrid/js/themes/smoothness/jquery-ui.custom.css"></link>	
<link rel="stylesheet" type="text/css" media="screen" href="libraries/jqdrid/js/jqgrid/css/ui.jqgrid.css"></link>
