<script type="application/javascript" src="libraries/jquery/jquery.js"></script>
<script type="application/javascript" src="libraries/jquery/jquery-ui.js"></script>

<script type="text/javascript" src="libraries/calendar/calendar.js"></script> 
<script type="text/javascript" src="libraries/calendar/calendar-en.js"></script>
<script type="text/javascript" src="libraries/calendar/runCalender.js"></script>
<script type="text/javascript" src="libraries/SpryAssets/SpryMenuBar.js"></script>

<script type="application/javascript" src="libraries/javascript/script.js"></script> 