<!-- ######################################## JQUERY 1.6 ################################################-->
<!-- dont remove any files -->
<!--<script src="libraries/validationEngine/js/jquery-1.6.min.js" type="text/javascript"></script>-->

<!-- calander components -->
<!--<script src="libraries/calendar/calendar.js" type="text/javascript"></script>
<script src="libraries/calendar/calendar-en.js" type="text/javascript"></script>
<script src="libraries/calendar/runCalender.js" type="text/javascript"></script>-->

<!-- validate engine  -->
<!--<script src="libraries/validationEngine/js/jquery.validationEngine-en.js" type="text/javascript" charset="utf-8"></script>
<script src="libraries/validationEngine/js/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>-->

<!-- jqgrid listing -->
<!--<script src="libraries/jqdrid/js/jqgrid/js/i18n/grid.locale-en.js" type="text/javascript"></script>
<script src="libraries/jqdrid/js/jqgrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>	
<script src="libraries/jqdrid/js/themes/jquery-ui.custom.min.js" type="text/javascript"></script>-->

<!-- common script file -->
<!--<script type="text/javascript" src="libraries/javascript/script.js"></script>-->

<!--promt -->
<!--<script type="text/javascript" src="libraries/javascript/jquery-impromptu.js"></script>-->
<!-- ######################################################################################################-->

<!-- ######################################## JQUERY 1.8.2 ################################################-->
<!-- dont remove any files -->
<script type="text/javascript" src="libraries/jquery/1.8.2/jquery-1.8.2.min.js"></script>

<!-- calander components -->
<script src="libraries/calendar/calendar.js" type="text/javascript"></script>
<script src="libraries/calendar/calendar-en.js" type="text/javascript"></script>
<script src="libraries/calendar/runCalender.js" type="text/javascript"></script>

<!-- validate engine 2.6.4 -->
<script type="text/javascript" src="libraries/validationEngine/2.6.4/js/languages/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="libraries/validationEngine/2.6.4/js/jquery.validationEngine.js"></script>

<!-- jqgrid listing -->
<script src="libraries/jqdrid/js/jqgrid/js/i18n/grid.locale-en.js" type="text/javascript"></script>
<script src="libraries/jqdrid/js/jqgrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>	
<script src="libraries/jqdrid/js/themes/jquery-ui.custom.min.js" type="text/javascript"></script>

<!-- common script file -->
<script type="text/javascript" src="libraries/javascript/script.js"></script>

<!--promt -->
<script type="text/javascript" src="libraries/javascript/jquery-impromptu.js"></script>

<!--chosen 1.1.0-->
<script type="text/javascript" src="libraries/chosen/chosen_1.1.0/chosen.jquery.min.js"></script>

