<!-- jQuery 1.8.2  -->
<!--<script src="libraries/validationEngine/js/jquery-1.8.2.min.js" type="text/javascript"></script>-->

<!--<script src="libraries/jqdrid/js/jquery.min.js" type="text/javascript"></script>-->
<!--<script src="libraries/jqdrid/js/jqgrid/js/i18n/grid.locale-en.js" type="text/javascript"></script>
<script src="libraries/jqdrid/js/jqgrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>	
<script src="libraries/jqdrid/js/themes/jquery-ui.custom.min.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" media="screen" href="libraries/jqdrid/js/themes/smoothness/jquery-ui.custom.css"></link>	
<link rel="stylesheet" type="text/css" media="screen" href="libraries/jqdrid/js/jqgrid/css/ui.jqgrid.css"></link>-->

