body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
    font-size: 50%;
    }

img {
    border: none;
    }

a, a:link, a:visited, a.visited, a:hover {
    color: #455F94;
    }

a:active {
    outline: 0;
    }

#top_cont {
    height: 98px;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #FFF;
    border-bottom: 1px solid #d4d4d4;
    }

#top_cont #header {
    margin: 0 auto;
    width: 800px;
    }

#top_cont .left {
    height: 60px;
    padding: 20px 0 0 0;
    margin-left: 31px;
    width: 300px;
    background: url(mini_logo.gif) no-repeat 0 20px;
    }

#top_cont .right {
    padding: 31px 56px 0 0;
    position: relative;
    width: 314px;
    float: right;
    font-size: 132%;
    text-align: right;
    }

#top_cont .right a, #top_cont .right a:link {
    padding: 2px 25px 10px 0;
    outline: 0;
    text-decoration: underline;
    }

#top_cont .right a.add {
    background: url(ico_add.gif) no-repeat right 1px;
    text-decoration: underline;
    }

#top_cont .right a.rss {
    padding-left: 25px;
    background: url(ico_rss.gif) no-repeat right 1px;
    text-decoration: underline;
    }

#top_cont .right a.twitter {
    clear: both;
    display: block;
    margin-top: 9px;
    background: transparent url(ico_twitter.gif) no-repeat right 1px;
    }

#content {
    margin: 0 auto;
    background: url(back_grad.gif) top repeat-x;
    }

#content #container {
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 20px;
    width: 800px;
    }

#content #container:after {
    clear: both;
    content: " ";
    display: block;
    }

/* Entry Items */
.item {
    float: left;
    height: 200px;
    margin: 0 20px 20px;
    padding: 10px 10px 4px;
    width: 325px;
    background: #fff none repeat scroll 0;
    border-color: #e9e9e9 #e9e9e9 #ccc;
    border-style: solid;
    border-width: 1px 1px 2px;
    }

.item .demo {
    margin-left: 35px;
    padding: 1px 5px;
    background-color: #f5f5f5;
    border-color: #ccc #ccc #999 #999;
    border-style: solid;
    border-width: 1px;
    font-size: 140%;
    }

.item a img, .item a:link img, .item a:visited img {
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    }

.item a:hover img {
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    opacity: 1.0;
    }

.item a:active img {
    outline: 1px;
    }

.item img {
    height: 100px;
    width: 325px;
    }

.item .item_title {
    color: #237ea0;
    font-size: 180%;
    font-weight: 700;
    text-decoration: none;
    }

.caption {
    margin-top: 10px;
    }

.caption p {
    margin: 10px 0;
    font-size: 155%;
    }

/* Advertisements */
.advert {
    clear: both;
    display: block;
    height: 56px;
    margin: 0 20px 20px;
    padding: 10px 10px 4px;
    width: 712px;
    background: #fff none repeat scroll 0;
    border-color: #e9e9e9 #e9e9e9 #ccc;
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #333;
    text-decoration: none;
    }

.advert img {
    clear: right;
    display: inline;
    height: 53px;
    float: left;
    width: 336px;
    font-size: 155%;
    }

.advert span {
    clear: right;
    display: inline;
    float: left;
    margin: 0 0 0 39px;
    width: 337px;
    color: #333;
    font-size: 155%;
    }

.advert span ins {
    color: #455f94;
    text-decoration: underline;
    }
	
#header {
    top: 0;
    height: 30px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: #df8431;
    border-top: 1px solid #d5d9da;
    color: #666;
    }
	
#footer {
    bottom: 0;
    height: 48px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1001;
    background-color: #f3f7fa;
    border-top: 1px solid #d5d9da;
    color: #666;
    }

#footer .container {
    margin: 14px auto 0;
    width: 800px;
    }

#footer .left {
    margin-left: 71px;
    padding-top: 8px;
    width: 244px;
    }

#footer .right {
    float: right;
    margin-right: 95px;
    width: 250px;
    }

#footer .right img {
    margin-bottom: 5px;
    }

#footer .right a.text {
    padding-left: 41px;
    font-size: 140%;
    }

* html body {
    overflow: hidden;
    }

.item a, .item a:link, #footer .right a, #footer .right a:link {
    text-decoration: none;
    }

@media screen {
    body>div#footer {
        position: fixed;
        }
	body>div#header {
        position: fixed;
        }
    }